<!DOCTYPE html>
<html lang="en">

	<head> 
		<meta charset= "utf-8">
		<meta name="viewport" 
		content =" width = device-width , initial-scale=1.0">
	<title>Techno Green</title>
	<link rel="stylesheet" href="../css/style.css" type="text/css">
	</head>

	<body>
        <%- include ('./header.ejs') %>
        <%- include ('./navigation.ejs') %>

		
			<div class="content">
				<% for(var i=0; i < categories.length; i++) { %>
				<h4><%= categories[i] %> </h4>
				<% for(var j=0; j < events.length; j++) { %>
					<% if(events[j].topic === categories[i]) { %>
						<a href="/connections?meetupId=<%= events[j].Id %>"><%= events[j].Name %></a><br>
						<% } %>
					<% } %>
				<% } %> 
				</div>
        <%- include ('./footer.ejs') %>
	</body>
</html>				


